<div class="container">
  <div class="container-inner inner-sm clearfix">
    <div class="item-single-main">
      <div class="image">
        <div class="img-wrap">
          <% #TODO 商品イメージ %>
          <% if url.present? %>
            <%= image_tag(url , alt: name) %>
          <% else %>
            <%= image_tag("no-image.png" , alt: name) %>
          <% end %>
        </div>
      </div>
      <div class="title">
        <% #TODO 商品タイトル %>
        <% if name.present? %>
          <%= name %>  
        <% else %>
          no name
        <% end %>
      </div>
      <%= render 'ranking/top10' , ranking: ranking %>
      <%#　<button type="button" class="btn btn-success action">number 1</button> %>
    </div>
    <div class="item-single-side">
      <div class="side-box">
        <h4 class="side-box-title">ユーザ数</h4>
        <div class="side-box-body">
          <% if count.blank? %>
            マイナープレイス募集中
          <% else %>
            <span class="badge"><%= count %>人</span>
          <% end %>
          <% # TODO Haveしたユーザー一覧 %>
          <%# @item.have_users.each do |user| %>
            <%# link_to gravatar_for(user, size: 30), user %>
          <%# end %>
        </div>
      </div>
      <div class="side-box">
        <h4 class="side-box-title">みんなのレビュー</h4>
        <div class="side-box-body">
          <% if places.present? %>
            <% places.first(3).each do |place| %>
              <%= place.comment %> by <%= User.find_by(id: place.user_id).name %>
               <%# binding.pry %>
            <% end %>
          <% else %>
          <% end %>
          <% # TODO Wantしたユーザー一覧 %>
          <%# @item.want_users.each do |user| %>
            <%# link_to gravatar_for(user, size: 30), user %>
          <%# end %>
        </div>
      </div>
<% if false %>
      <div class="text-center">
        <% #TODO 正しいリンク先に %>
        <%= link_to(image_tag("amazon-button.png", {alt: "Amazon詳細ページへ"}), url) %>
      </div>
<% end %>
    </div>
  </div>
</div>
