<div class="container">
  <div class="container-inner inner-default clearfix">
    <% @searched_places.each do |place| %>
      <div class="item-box">
        <div class="image">
          <div class="img-wrap">
            <% #TODO 商品画像 %>
            <% @url = place.photo.url %>
            <% if @url.present? %>
              <%= image_tag(@url , alt: place.name) %>
            <% else %>
              <%= image_tag("no-image.png" , alt: place.name) %>
            <% end %>
          </div>
        </div>
        <div class="detail">
          <p class="title">
            <% #TODO 商品タイトル %>
            <% @title = place.name %>
            <% if @title.present? %>
              <%= link_to @title, place_path(place) %> 
            <% else %>
              <%= link_to "no title", place_path(place) %>
            <% end %>
          </p>
        </div>
        <div class="action clearfix">
          <%= link_to "" , ownerships_path(place_id: place.id , type: "Want") ,
                      :class => "want-#{place.id} btn-want btn btn-danger btn-sm want",
                      :remote => true,
                      :method => :post %>
<% if false %>
          <%= link_to "" , ownerships_path(place_id: place.id , type: "Visit") ,
                      :class => "visit-#{place.id} btn-visit btn btn-warning btn-sm visit",
                      :remote => true,
                      :method => :post %>
<% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
